@model IEnumerable<Shopping_Appilication.Models.Color>

@{
    ViewData["Title"] = "GetAllColor";
}

<h1>GetAllColor</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.IdColor  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.IdColor  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.IdColor  })
            </td>
        </tr>
}
    </tbody>
</table>
