@model Product //strong type
<h4>Id: @Model.Id</h4>
<h4>Tên: @Model.Name</h4>
<h4>NSX: @Model.Supplier</h4>
<h4>SluongTon: @Model.AvailableQuantity</h4>
<h4>Price: @Model.Price</h4>
<h4>MoTa: @Model.Description</h4>
<h4>Trang Thai: @Model.Status</h4>
